.DS_Store
Thumbs.db

.idea/

cmake-build-*/
CMakeUserPresets.json

*.exe
*.out
*.so
*.a
*.dll
*.o
*.obj
*.txt
src/Dynamics/pseudocode.txt
**/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt